In [1]:
import sys
import os
sys.path.append(os.path.abspath("../src"))

import pandas as pd
from data_generator import generate_player_data

In [2]:
df =generate_player_data()
df.head()

,avg_session_time,sessions_per_week,levels_completed,time_to_complete_level,death_rate,retry_rate,accuracy,exploration_score,aggression_score,completion_rate
0,24.483571,3.519347,11.231207,14.605391,3.662881,1.450595,46.108336,0.417521,0.200000,60.124993
1,21.308678,4.532739,3.159326,14.602969,4.173474,0.469670,56.972038,0.600000,0.200000,75.000000
2,25.238443,2.891240,4.607258,14.713460,3.181022,0.145797,58.985774,0.436748,0.339313,43.314007
3,29.615149,3.401712,12.973056,24.306992,1.703168,0.000000,64.121192,0.368647,0.445769,70.587285
4,20.829233,3.690144,10.683462,17.527742,3.399688,0.000000,67.644325,0.492180,0.200000,58.271983

In [4]:
df.describe()

,avg_session_time,sessions_per_week,levels_completed,time_to_complete_level,death_rate,retry_rate,accuracy,exploration_score,aggression_score,completion_rate
count,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000
mean,52.695018,4.142444,23.111291,14.096643,2.738631,1.529723,67.481888,0.453277,0.525861,73.280981
std,28.027467,1.400804,13.667737,6.919290,1.647197,1.321101,14.124274,0.257172,0.220693,15.426300
min,10.000000,1.000000,2.000000,2.500000,0.000000,0.000000,40.000000,0.000000,0.100000,40.000000
25%,25.786051,3.075322,12.462937,7.337704,1.467982,0.502749,57.309148,0.284950,0.353601,61.337044
50%,48.840223,4.089262,19.842329,14.186931,2.770290,1.136430,64.385909,0.395050,0.489333,73.343775
75%,76.508221,5.164373,30.109584,18.704398,3.789658,2.246521,78.834219,0.557615,0.686814,87.844089
max,130.000000,7.000000,65.000000,35.000000,8.000000,7.000000,98.000000,1.000000,1.000000,99.000000

In [5]:
os.makedirs("../data/raw", exist_ok=True)
df.to_csv("../data/raw/players.csv", index=False)